<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    </head>
    <body class="nowtime">
        <div class="contenttime">
            <h2>what time is it?</h2>
            <h1>
                {{ time }}
            </h1>
        </div>
    </body>
</html>

{% endblock %}