<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/story1.css' %}" type="text/css">
    </head>
    <body>
        <div class="container">
            <div id="header">
                <h1>Farah Nazihah</h1>
                <p id="capt">also known as betaorionis or Rigel</p>
                <p>
                Learn something new everytime I try to look
                    from different perspective of every story.
                    Recently study in Computer Science major
                    Universitas Indonesia. I'm interested in astronomy,
                    psychology, game development, and the study
                    of character development.
                </p>
            </div>

            <hr>

            <div class="row">
                <div class="column">
                    <h2>Profile</h2>
                    <div class="bio">
                        <p class="t"><b>Fullname</b></p>
                        <span>Farah Nazihah</span>
                    </div>
                    <div class="bio">
                        <p class="t"><b>NPM</b></p>
                        <span>1906350761</span>
                    </div>
                    <div class="bio">
                        <p class="t"><b>Campus</b></p>
                        <span>Fasilkom UI</span>
                    </div>
                    <div class="bio">
                        <p class="t"><b>Hobby</b></p>
                        <span>Reading, writing, and other bs</span>
                    </div>
                </div>
                <div class="column">
                    <h2>Educational Background</h2>
                    <table>
                        <tr>
                            <td id="columntab"><b>Universitas Indonesia</b></td>
                            <td>2019 - present.</td>
                        </tr>
                        <tr>
                            <td id="columntab"><b>SMAN 2 Depok</b></td>
                            <td>2016 - 2019</td>
                        </tr>
                        <tr>
                            <td id="columntab"><b>SMPN 3 Depok</b></td>
                            <td>2013 - 2016</td>
                        </tr>
                        <tr>
                            <td id="columntab"><b>SD Yaspen Tugu Ibu</b></td>
                            <td>2007 - 2013</td>
                        </tr>
                    </table>
                </div>
                <div class="column">
                    <img id="imgself" src="{% static 'image/FarahNazihah.jpg' %}" alt="Farah Nazihah">
                </div>
            </div>

            <div id="contact">
                <p><b>Contact Me</b></p>
                <a href="https://wa.me/6287887554097" target="_blank">
                    <img class="icon" src="{% static 'image/whatsapp.png' %}">
                </a href>
                <a href="https://line.me/ti/p/t9t9sDYcEE" target="_blank">
                    <img class="icon" src="{% static 'image/line.png' %}">
                </a href>
                <a href="https://www.instagram.com/frhnzh_/" target="_blank">
                    <img class="icon" src="{% static 'image/instagram.png' %}">
                </a href>
                <a href="https://www.linkedin.com/in/farah-nazihah-488a96178/" target="_blank">
                    <img class="icon" src="{% static 'image/linkedin.png' %}">
                </a href>
            </div>
        </div>
    </body>
</html>

{% endblock %}