<!DOCTYPE html>
{% load static %}

<html lang="en" dir="ltr">
    <head>
        <link rel="stylesheet" href="{% static './css/style.css' %}" type="text/css">
    </head>
    <body>
        <nav class="navbar">
            <a href="/#home">home</a>
            <a href="/#about">about</a>
            <a href="/#contact">contact</a>
            <a href="/#education">education</a>
            <a href="/games">games</a>
            <a href="/story1">story1</a>
        </nav>
  </body>
</html>